
<!-- trabaja en función de la ruta post -->
<form action="/dogs" method="post">
<input type="text" name="name"> <!-- params o variable que tenga post -->
<input type="submit" value="enviar">
</form>
